body {
	background-color: #E8FEFF;
	margin: 0;
	padding: 0;
}

.navbar {
	background-color: #0099FF;
	padding-bottom: 15px;
}

ul {
	font-size: 25px;
	list-style: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 10px;
	border-bottom: none;
}

li {
	display: inline;
}
a {
	color: #000000;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	
}

a:hover {
	text-decoration: underline;
}

#logo {
	padding-left: 50px;
	padding-right: 80px;
	padding-top: 45px;
	padding-bottom: 65px;
	position: center;
}

.info {
	float: right;
	padding-left: 99px;
	padding-right: 500px;
}

.info p {
	font-size: 20px;
}

#contact {
	float: left;
	padding-left: 20px;
	padding-right: 30px;
}

#contact p {
	font-size: 18px;
}